body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgb(153, 253, 103) 0%,
    rgb(88, 255, 228) 100%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fact {
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 0 40px;
}

.new-fact-button {
  background-color: transparent;
  padding: 8px 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: 4px solid green;
  border-radius: 16px;
}

.new-fact-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.fact_wrapper {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
